<section class="actions">
  <div class="container">
    <h2 class="visually-hidden"></h2>

    <ul class="actions__list">
      <li class="actions-item actions-item--calc">
        <div class="actions-item__inner">
          <h3 class="actions-item__title">Калькулятор</h3>
          <p class="actions-item__text">
            Вы можете рассчитать самостоятельно примерный бюджет на покупку
            ролетных систем или ворот с помощью нашего калькулятора.
          </p>
          <a class="actions-item__btn btn btn--green" href="#">
            Рассчитать стоимость
          </a>
        </div>
      </li>
      <li class="actions-item actions-item--installment">
        <div class="actions-item__inner">
          <h3 class="actions-item__title">Рассрочка</h3>
          <p class="actions-item__text">
            Мы предлагаем удобные способы оплаты. Приобретите все необходимое в
            рассрочку от 4-х до 12 месяцев, оплачивая равными частями.
          </p>
          <a class="actions-item__btn btn btn--blue-light" href="#"
            >Подробнее</a
          >
        </div>
      </li>
      <li class="actions-item actions-item--measure">
        <div class="actions-item__inner">
          <h3 class="actions-item__title">Не знаете, нужный размер изделия?</h3>
          <p class="actions-item__text">
            Вам поможет замерщик, который учтет все нюансы и назовет
            окончательную стоимость.
          </p>
          <a class="actions-item__btn btn btn--burgundy" href="#">
            Вызвать замерщика
          </a>
          <a class="actions-item__btn btn btn--transparent" href="#">
            <svg>
              <use xlink:href="img/sprite.svg#mail"></use>
            </svg>
            Написать нам</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
