<section class="add-section">
  <div class="container">
    <h2 class="add-section__title">Дополнительные опции</h2>

    <ul class="add-section__list">
      <li class="add-section__item">
        <article class="add-card">
          <a class="add-card__top">
            <picture>
              <source srcset="img/add-options/1.webp" type="image/webp" />
              <img src="img/add-options/1.jpg" alt="img" />
            </picture>
          </a>
          <div class="add-card__body">
            <h3 class="add-card__title"><a href="#">Встроенная калитка</a></h3>
            <p class="add-card__text">
              для удобного и быстрого входа-выхода. Калитка экономит ресурс
              секционных ворот, продлевая срок их службы.
            </p>
          </div>
        </article>
      </li>
      <li class="add-section__item">
        <article class="add-card">
          <a class="add-card__top">
            <picture>
              <source srcset="img/add-options/2.webp" type="image/webp" />
              <img src="img/add-options/2.jpg" alt="img" />
            </picture>
          </a>
          <div class="add-card__body">
            <h3 class="add-card__title">
              <a href="#">Окна, панорамные панели</a>
            </h3>
            <p class="add-card__text">
              Для естественного освещения гаража, создания индивидуального
              дизайна ворот и сочетания с элементами фасада.
            </p>
          </div>
        </article>
      </li>
      <li class="add-section__item">
        <article class="add-card">
          <a class="add-card__top">
            <picture>
              <source srcset="img/add-options/3.webp" type="image/webp" />
              <img src="img/add-options/3.jpg" alt="img" />
            </picture>
          </a>
          <div class="add-card__body">
            <h3 class="add-card__title"><a href="#">Боковая дверь</a></h3>
            <p class="add-card__text">
              Для отдельного входа-выхода. Дверь гармонично сочетается с
              гаражными воротами, придавая фасаду дома завершенный вид.
            </p>
          </div>
        </article>
      </li>
      <li class="add-section__item">
        <article class="add-card">
          <a class="add-card__top">
            <picture>
              <source srcset="img/add-options/4.webp" type="image/webp" />
              <img src="img/add-options/4.jpg" alt="img" />
            </picture>
          </a>
          <div class="add-card__body">
            <h3 class="add-card__title">
              <a href="#">Вентиляционные решетки</a>
            </h3>
            <p class="add-card__text">
              Проветривание и регулировка уровня влажности внутри помещений.
            </p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
