<section class="add-section add-section--automation">
  <div class="container">
    <h2 class="add-section__title">Автоматика и управление</h2>

    <ul class="add-section__list">
      <li class="add-section__item">
        <article class="add-card">
          <a class="add-card__top">
            <picture>
              <source srcset="img/automation/1.webp" type="image/webp" />
              <img src="img/automation/1.jpg" alt="img" />
            </picture>
          </a>
          <div class="add-card__body">
            <h3 class="add-card__title"><a href="#">Ручное управление</a></h3>
            <p class="add-card__text">
              Вес ворот сбалансирован пружинами, чтобы облегчить управление
              полотном при сбоях в электросети.
            </p>
          </div>
        </article>
      </li>
      <li class="add-section__item">
        <article class="add-card">
          <a class="add-card__top">
            <picture>
              <source srcset="img/automation/2.webp" type="image/webp" />
              <img src="img/automation/2.jpg" alt="img" />
            </picture>
          </a>
          <div class="add-card__body">
            <h3 class="add-card__title">
              <a href="#">Приводы Alutech Levigato</a>
            </h3>
            <p class="add-card__text">
              Функциональная автоматика, которая сделает управление воротами
              максимально комфортным.
            </p>
          </div>
        </article>
      </li>
      <li class="add-section__item">
        <article class="add-card">
          <a class="add-card__top">
            <picture>
              <source srcset="img/automation/3.webp" type="image/webp" />
              <img src="img/automation/3.jpg" alt="img" />
            </picture>
          </a>
          <div class="add-card__body">
            <h3 class="add-card__title">
              <a href="#">Приводы AN-Motors ASG</a>
            </h3>
            <p class="add-card__text">
              Простая в установке автоматика с доступной ценой и основными
              функциями для управления воротами.
            </p>
          </div>
        </article>
      </li>
      <li class="add-section__item">
        <article class="add-card">
          <a class="add-card__top">
            <picture>
              <source srcset="img/automation/4.webp" type="image/webp" />
              <img src="img/automation/4.jpg" alt="img" />
            </picture>
          </a>
          <div class="add-card__body">
            <h3 class="add-card__title">
              <a href="#">Аксессуары для приводов</a>
            </h3>
            <p class="add-card__text">
              Фотоэлементы, сигнальные лампы и пульты дистанционного управления.
              Работают с любым приводом.
            </p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
