<section class="appearance">
  <div class="container">
    <div class="appearance__top">
      <h2 class="appearance__title">Внешний вид</h2>
      <p class="appearance__text">
        На выбор предоставляется 5 типов сэндвич-панелей, 11 стандартных цветов
        (окраска в которые входит в стоимость), более 200 цветов по каталогу RAL
        или DB и оттенки под дерево (за доплату). Вы также можете заказать
        нанесение любого изображения на полотно ворот серии Prestige.
      </p>
    </div>

    <div class="appearance__wrapper">
      <div class="appearance__slider">
        <div class="slider-thumbs">
          <div class="slider-thumbs__main swiper" id="slider-main">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <button
                  class="slider-thumbs__fullscreen-btn"
                  data-fancybox="type-panels"
                  data-src="img/appearance/1.jpg"
                  data-caption="S-гофр"
                >
                  <img
                    width="25"
                    height="25"
                    src="img/fullscreen-icon.png"
                    alt="fullscreen"
                  />
                </button>
                <picture>
                  <source srcset="img/appearance/1.webp" type="image/webp" />
                  <img src="img/appearance/1.jpg" alt="img" />
                </picture>
                <div class="slider-thumbs__inner">
                  <span class="slider-thumbs__name">S-гофр</span>
                  <div class="slider-thumbs__btns">
                    <button
                      class="slider-thumbs__btn btn btn--green"
                      type="button"
                    >
                      Рассчитать стоимость
                    </button>
                    <button
                      class="slider-thumbs__btn btn btn--burgundy"
                      type="button"
                    >
                      Вызвать замерщика
                    </button>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <button
                  class="slider-thumbs__fullscreen-btn"
                  data-fancybox="type-panels"
                  data-src="img/appearance/1.jpg"
                  data-caption="M-гофр"
                >
                  <img
                    width="25"
                    height="25"
                    src="img/fullscreen-icon.png"
                    alt="fullscreen"
                  />
                </button>
                <picture>
                  <source srcset="img/appearance/1.webp" type="image/webp" />
                  <img src="img/appearance/1.jpg" alt="img" />
                </picture>
                <div class="slider-thumbs__inner">
                  <span class="slider-thumbs__name">M-гофр</span>
                  <div class="slider-thumbs__btns">
                    <button
                      class="slider-thumbs__btn btn btn--green"
                      type="button"
                    >
                      Рассчитать стоимость
                    </button>
                    <button
                      class="slider-thumbs__btn btn btn--burgundy"
                      type="button"
                    >
                      Вызвать замерщика
                    </button>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <button
                  class="slider-thumbs__fullscreen-btn"
                  data-fancybox="type-panels"
                  data-src="img/appearance/1.jpg"
                  data-caption="L-гофр"
                >
                  <img
                    width="25"
                    height="25"
                    src="img/fullscreen-icon.png"
                    alt="fullscreen"
                  />
                </button>
                <picture>
                  <source srcset="img/appearance/1.webp" type="image/webp" />
                  <img src="img/appearance/1.jpg" alt="img" />
                </picture>
                <div class="slider-thumbs__inner">
                  <span class="slider-thumbs__name">L-гофр</span>
                  <div class="slider-thumbs__btns">
                    <button
                      class="slider-thumbs__btn btn btn--green"
                      type="button"
                    >
                      Рассчитать стоимость
                    </button>
                    <button
                      class="slider-thumbs__btn btn btn--burgundy"
                      type="button"
                    >
                      Вызвать замерщика
                    </button>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <button
                  class="slider-thumbs__fullscreen-btn"
                  data-fancybox="type-panels"
                  data-src="img/appearance/1.jpg"
                  data-caption="Микроволна"
                >
                  <img
                    width="25"
                    height="25"
                    src="img/fullscreen-icon.png"
                    alt="fullscreen"
                  />
                </button>
                <picture>
                  <source srcset="img/appearance/1.webp" type="image/webp" />
                  <img src="img/appearance/1.jpg" alt="img" />
                </picture>
                <div class="slider-thumbs__inner">
                  <span class="slider-thumbs__name">Микроволна</span>
                  <div class="slider-thumbs__btns">
                    <button
                      class="slider-thumbs__btn btn btn--green"
                      type="button"
                    >
                      Рассчитать стоимость
                    </button>
                    <button
                      class="slider-thumbs__btn btn btn--burgundy"
                      type="button"
                    >
                      Вызвать замерщика
                    </button>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <button
                  class="slider-thumbs__fullscreen-btn"
                  data-fancybox="type-panels"
                  data-src="img/appearance/1.jpg"
                  data-caption="Филенка"
                >
                  <img
                    width="25"
                    height="25"
                    src="img/fullscreen-icon.png"
                    alt="fullscreen"
                  />
                </button>
                <picture>
                  <source srcset="img/appearance/1.webp" type="image/webp" />
                  <img src="img/appearance/1.jpg" alt="img" />
                </picture>
                <div class="slider-thumbs__inner">
                  <span class="slider-thumbs__name">Филенка</span>
                  <div class="slider-thumbs__btns">
                    <button
                      class="slider-thumbs__btn btn btn--green"
                      type="button"
                    >
                      Рассчитать стоимость
                    </button>
                    <button
                      class="slider-thumbs__btn btn btn--burgundy"
                      type="button"
                    >
                      Вызвать замерщика
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="slider-thumbs__nav">
            <div class="slider-thumbs__tabs slider-tabs">
              <div class="slider-tabs__top">
                <ul class="slider-tabs__list">
                  <li class="slider-tabs__item">
                    <button
                      class="slider-tabs__btn slider-tabs-btn"
                      type="button"
                    >
                      Тип панели
                    </button>
                  </li>
                  <li class="slider-tabs__item">
                    <button
                      class="slider-tabs__btn slider-tabs-btn"
                      type="button"
                    >
                      Цветовые решения
                    </button>
                  </li>
                </ul>
              </div>

              <div class="slider-tabs__content slider-tabs-content">
                <div class="slider-thumbs__nav-wrap swiper">
                  <ul class="swiper-wrapper">
                    <li class="swiper-slide slider-nav__slide">
                      <picture>
                        <source srcset="img/panels.webp" type="image/webp" />
                        <img src="img/panels.png" alt="img" />
                      </picture>
                      <span class="slider-thumbs__text">S-гофр</span>
                    </li>
                    <li class="swiper-slide slider-nav__slide">
                      <picture>
                        <source srcset="img/panels.webp" type="image/webp" />
                        <img src="img/panels.png" alt="img" />
                      </picture>
                      <span class="slider-thumbs__text">M-гофр</span>
                    </li>
                    <li class="swiper-slide slider-nav__slide">
                      <picture>
                        <source srcset="img/panels.webp" type="image/webp" />
                        <img src="img/panels.png" alt="img" />
                      </picture>
                      <span class="slider-thumbs__text">L-гофр</span>
                    </li>
                    <li class="swiper-slide slider-nav__slide">
                      <picture>
                        <source srcset="img/panels.webp" type="image/webp" />
                        <img src="img/panels.png" alt="img" />
                      </picture>
                      <span class="slider-thumbs__text">Микроволна</span>
                    </li>
                    <li class="swiper-slide slider-nav__slide">
                      <picture>
                        <source srcset="img/panels.webp" type="image/webp" />
                        <img src="img/panels.png" alt="img" />
                      </picture>
                      <span class="slider-thumbs__text">Филенка</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="slider-tabs__content slider-tabs-content">
                <div class="appearance-colors">красный</div>
                <div class="appearance-colors">зеленый</div>
                <div class="appearance-colors">синий</div>
              </div>
            </div>
          </div>
        </div>
        <p class="appearance__text">
          <small>*</small>Цвет готового изделия может незначительно отличаться
          от представленного на сайте. Это связано с индивидуальными настройками
          монитора, а также с особенностями восприятия излучаемого и отражаемого
          света.
        </p>
      </div>
    </div>
  </div>
</section>
