<section class="call" style="background-image: url('img/call-bg.jpg')">
  <div class="container">
    <div class="call__wrapper">
      <h2 class="call__title">
        Вызов замерщика
        <span>БЕСПЛАТНО*</span>
      </h2>
      <div class="call__right">
        <p class="call__text">
          От точности измерения параметров проемов, в которые будут вставляться
          конструкции, во многом зависит качество их монтажа, а значит,
          надежность, долговечность и удобство в дальнейшей эксплуатации. Мы
          предлагаем вам замер совершенно бесплатно - в момент проведеия замера
          оплачивается 1000 ₽, а при оформлении договора данная сумма вычитается
          из стоимости конструкции.
        </p>
        <button class="call__btn btn" type="button">Вызвать замерщика</button>
      </div>
    </div>
  </div>
</section>
