<section class="calc">
  <div class="container">
    <div class="calc__top">
      <div class="calc__heading">
        <h1 class="calc__title">Калькулятор</h1>
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="index.html">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link breadcrumbs__link--active"
                >Калькулятор</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="calc__wrapper">
      <p class="calc__text">Конфигурация гаражных ворот</p>
      <div class="calc__content">
        <p>
          Здесь будет калькулятор <br />
          от алютеха
        </p>
      </div>
    </div>
  </div>
</section>
