<section class="catalog">
  <div class="container container--big">
    <h2 class="visually-hidden">Каталог</h2>
    <ul class="catalog__list">
      <li class="catalog-item">
        <span class="catalog-item__name">Роллетные системы и решетки</span>
        <div class="catalog-item__inner">
          <div class="catalog-item__left">
            <ul class="catalog-item__list">
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#">Рольставни на окна</a>
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#">Рольставни на двери</a>
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#">Рольставни на балкон</a>
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#"
                  >Рольставни сантехнические</a
                >
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#">Роллетные решетки</a>
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#"
                  >Рольставни прозрачные для веранд / беседок</a
                >
              </li>
            </ul>
          </div>
          <picture>
            <source srcset="img/catalog/1.webp" type="image/webp" />
            <img class="catalog-item__img" src="img/catalog/1.png" alt="img" />
          </picture>
        </div>
      </li>
      <li class="catalog-item">
        <span class="catalog-item__name"
          >Роллетные шкафы и системы хранения</span
        >
        <div class="catalog-item__inner">
          <div class="catalog-item__left">
            <ul class="catalog-item__list">
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#"
                  >Каталог ролелтных шкафов</a
                >
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#"
                  >Ограждение машино-мест</a
                >
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#">Ограждение мото-мест</a>
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#"
                  >Индивидуальные системы хранения</a
                >
              </li>
            </ul>
          </div>
          <picture>
            <source srcset="img/catalog/2.webp" type="image/webp" />
            <img class="catalog-item__img" src="img/catalog/2.png" alt="img" />
          </picture>
        </div>
      </li>
      <li class="catalog-item">
        <span class="catalog-item__name">Гаражные и выездные ворота</span>
        <div class="catalog-item__inner">
          <div class="catalog-item__left">
            <ul class="catalog-item__list">
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#">Секционные ворота</a>
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#">Роллетные ворота</a>
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#"
                  >Стальные роллетные ворота шириной до 14 метров</a
                >
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#">Откатные ворота</a>
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#">Распашные ворота</a>
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#">Калитки</a>
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#">Заборы</a>
              </li>
            </ul>
          </div>
          <picture>
            <source srcset="img/catalog/3.webp" type="image/webp" />
            <img class="catalog-item__img" src="img/catalog/3.png" alt="img" />
          </picture>
        </div>
      </li>
      <li class="catalog-item">
        <span class="catalog-item__name">Автоматика для ворот</span>
        <div class="catalog-item__inner">
          <div class="catalog-item__left">
            <ul class="catalog-item__list">
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#">для откатных ворот</a>
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#">для распашных ворот</a>
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#">для гаражных ворот</a>
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#"
                  >для промышленных ворот</a
                >
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#"
                  >аксессуары для автоматики</a
                >
              </li>
            </ul>
          </div>
          <picture>
            <source srcset="img/catalog/4.webp" type="image/webp" />
            <img class="catalog-item__img" src="img/catalog/4.png" alt="img" />
          </picture>
        </div>
      </li>
      <li class="catalog-item">
        <span class="catalog-item__name"
          >Шлагбаумы и перегрузочная техника</span
        >
        <div class="catalog-item__inner">
          <div class="catalog-item__left">
            <ul class="catalog-item__list">
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#">Шлагбаумы</a>
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link link-disabled"
                  >Уравнительные платформы</a
                >
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link link-disabled"
                  >Герметизаторы проема</a
                >
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link link-disabled"
                  >Перегрузочные площадки</a
                >
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link link-disabled"
                  >Перегрузочные тамбуры</a
                >
              </li>
            </ul>
          </div>
          <picture>
            <source srcset="img/catalog/5.webp" type="image/webp" />
            <img class="catalog-item__img" src="img/catalog/5.png" alt="img" />
          </picture>
        </div>
      </li>
      <li class="catalog-item">
        <span class="catalog-item__name">Стеллажи EGR</span>
        <div class="catalog-item__inner">
          <div class="catalog-item__left">
            <ul class="catalog-item__list">
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#">
                  Каталог стеллажных систем
                </a>
              </li>
              <li class="catalog-item__item">
                <a class="catalog-item__link" href="#">
                  Изготовление стеллажей на заказ
                </a>
              </li>
            </ul>
          </div>
          <picture>
            <source srcset="img/catalog/6.webp" type="image/webp" />
            <img class="catalog-item__img" src="img/catalog/6.png" alt="img" />
          </picture>
        </div>
      </li>
      <li class="catalog-hide">
        <span class="catalog-hide__name">
          Интернет-магазин. Ролетные системы, аксессуары и автоматика
        </span>
        <p class="catalog-hide__text">
          Выберите роллетную систему необходимых габаритных размеров из списка и
          оформите ее покупку прямо на сайте без обращения к менеджеру.
        </p>
        <button class="catalog-hide__btn btn" type="button">
          Купить онлайн
        </button>
      </li>
    </ul>
  </div>
</section>
