<section class="certificates">
  <div class="container">
    <h2 class="certificates__title">Компания “РОЛЬСТАВНИ.ОРГ” - это</h2>

    <ul class="certificates__list">
      <li
        class="certificates-item"
        data-fancybox="certificates"
        data-src="img/certificates/1.jpg"
        data-caption="Авторизованый дилер"
      >
        <picture>
          <source srcset="img/certificates/1.webp" type="image/webp" />
          <img
            class="certificates-item__img"
            src="img/certificates/1.jpg"
            alt="img"
          />
        </picture>
      </li>
      <li
        class="certificates-item"
        data-fancybox="certificates"
        data-src="img/certificates/2.jpg"
        data-caption="Официальный дилер"
      >
        <picture>
          <source srcset="img/certificates/2.webp" type="image/webp" />
          <img
            class="certificates-item__img"
            src="img/certificates/1.jpg"
            alt="img"
          />
        </picture>
      </li>
      <li
        class="certificates-item"
        data-fancybox="certificates"
        data-src="img/certificates/3.jpg"
        data-caption="Официальный дилер"
      >
        <picture>
          <source srcset="img/certificates/1.webp" type="image/webp" />
          <img
            class="certificates-item__img"
            src="img/certificates/3.jpg"
            alt="img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
