<section class="contacts-page">
  <div class="container">
    <div class="contacts-page__top">
      <div class="stock__heading">
        <h1 class="stock__title">Контакты</h1>
      </div>
    </div>

    <div class="contacts-page__inner">
      <div class="contacts-page__left">
        <div class="contacts-page__item contacts-page__item--location">
          <address class="contacts-page__address">
            <b>Офис:</b> Москва, ул. Название улицы 10, корп. 11
          </address>
          <address class="contacts-page__address">
            <b> Производство:</b> Москва, ул. Название улицы 12, корп. 13
          </address>
        </div>
        <div class="contacts-page__item contacts-page__item--phone">
          <div class="contacts-page__phone-wrap">
            <span class="contacts-page__name">
              Рольставни, ворота, автоматика
            </span>
            <a class="contacts-page__phone" href="tel:+7495123456798">
              + 7 (495) 123 45 67 98
            </a>
          </div>
          <div class="contacts-page__phone-wrap">
            <span class="contacts-page__name">
              Роллтеные шкафы. Стеллажи EGR
            </span>
            <a class="contacts-page__phone" href="tel:+7495123456798">
              + 7 (495) 123 45 67 98
            </a>
          </div>
          <div class="contacts-page__phone-wrap">
            <span class="contacts-page__name">
              Ограждение. Индивидуальные проекты
            </span>
            <a class="contacts-page__phone" href="tel:+7495123456798">
              + 7 (495) 123 45 67 98
            </a>
          </div>
          <p class="contacts-page__schedule">
            Прием звонков: с 9:00 до 21:00 (МСК)
          </p>
        </div>
        <div class="contacts-page__item contacts-page__item--mail">
          <a class="contacts-page__mail" href="mailto:info-rolstavmi@mail.ru">
            info-rolstavmi@mail.ru
          </a>
        </div>
        <div class="contacts-page__btns">
          <button class="contacts-page__btn btn btn--green">
            Заказать звонок
          </button>
          <button class="contacts-page__btn btn btn--blue-light">
            Написать нам
          </button>
          <button class="contacts-page__btn btn btn--burgundy">
            Вызвать замерщика
          </button>
        </div>
      </div>
      <div class="contacts-page__map map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa8682804cd677d3f6e06b10f9e45b818a5a4c10a33078bf563523a2a6a444adc&amp;source=constructor"
          width="500"
          height="400"
        ></iframe>
      </div>
    </div>

    <div class="contacts-page__branches branches">
      <div class="branches__top">
        <h2 class="branches__title">Дилеры и филиалы</h2>
        <button class="branches__btn btn" type="button">Стать дилером</button>
      </div>
      <div class="branches__map map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa8682804cd677d3f6e06b10f9e45b818a5a4c10a33078bf563523a2a6a444adc&amp;source=constructor"
          width="500"
          height="400"
        ></iframe>
      </div>
    </div>
  </div>
</section>
