<section class="contacts">
  <h2 class="contacts__title"><span>Свяжитесь с нами</span></h2>
  <div class="container">
    <ul class="contacts__list">
      <li class="contacts-item">
        <picture>
          <source srcset="img/contacts-icons/1.webp" type="image/webp" />
          <img
            class="contacts-item__img"
            src="img/contacts-icons/1.png"
            alt="img"
          />
        </picture>
        <div class="contacts-item__info">
          <b>Офис: </b>
          <address>
            Москва <br />
            ул. Название улицы 10, корп. 11
          </address>
        </div>
      </li>
      <li class="contacts-item">
        <picture>
          <source srcset="img/contacts-icons/2.webp" type="image/webp" />
          <img
            class="contacts-item__img"
            src="img/contacts-icons/2.png"
            alt="img"
          />
        </picture>
        <div class="contacts-item__info">
          <b>Производство: </b>
          <address>
            Москва <br />
            ул. Название улицы 12, корп. 13
          </address>
        </div>
      </li>
      <li class="contacts-item">
        <picture>
          <source srcset="img/contacts-icons/3.webp" type="image/webp" />
          <img
            class="contacts-item__img"
            src="img/contacts-icons/3.png"
            alt="img"
          />
        </picture>
        <div class="contacts-item__info">
          <b>Телефоны: </b>

          <a class="contacts-item__link" href="#">+ 7 (495) 123 45 67</a>
          <a class="contacts-item__link" href="#">+ 7 (495) 123 45 67</a>
        </div>
      </li>
      <li class="contacts-item">
        <picture>
          <source srcset="img/contacts-icons/4.webp" type="image/webp" />
          <img
            class="contacts-item__img"
            src="img/contacts-icons/4.png"
            alt="img"
          />
        </picture>
        <div class="contacts-item__info">
          <b>Прием звонков: </b>
          <div>с 9:00 до 21:00 (мск)</div>
          <button class="contacts-item__btn" type="button">
            заказать звонок
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
