<section class="cooperation">
  <div class="cooperation__slider swiper">
    <ul class="cooperation__slides swiper-wrapper">
      <li
        class="cooperation__slide swiper-slide"
        style="background-image: url('img/cooperation/1.jpg')"
      >
        <div class="container">
          <div class="cooperation__inner">
            <h2 class="cooperation__title">Приглашаем к сотрудничеству</h2>
            <p class="cooperation__text">
              Предлагаем особые условия для бизнеса и крупных заказчиков. <br />
              Предоставим особые условия для диллеров.
            </p>
            <button class="cooperation__btn btn btn--white" type="button">
              Заявка на сотрудничество
            </button>
          </div>
        </div>
      </li>
      <li
        class="cooperation__slide swiper-slide"
        style="background-image: url('img/cooperation/1.jpg')"
      >
        <div class="container">
          <div class="cooperation__inner">
            <h2 class="cooperation__title">Приглашаем к сотрудничеству</h2>
            <p class="cooperation__text">
              Предлагаем особые условия для бизнеса и крупных заказчиков. <br />
              Предоставим особые условия для диллеров.
            </p>
            <button class="cooperation__btn btn btn--white" type="button">
              Заявка на сотрудничество
            </button>
          </div>
        </div>
      </li>
      <li
        class="cooperation__slide swiper-slide"
        style="background-image: url('img/cooperation/1.jpg')"
      >
        <div class="container">
          <div class="cooperation__inner">
            <h2 class="cooperation__title">Приглашаем к сотрудничеству</h2>
            <p class="cooperation__text">
              Предлагаем особые условия для бизнеса и крупных заказчиков. <br />
              Предоставим особые условия для диллеров.
            </p>
            <button class="cooperation__btn btn btn--white" type="button">
              Заявка на сотрудничество
            </button>
          </div>
        </div>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
    <button
      class="swiper-button-next"
      type="button"
      aria-label="Следуюший"
    ></button>
    <button
      class="swiper-button-prev"
      type="button"
      aria-label="Предыдущий"
    ></button>
  </div>
</section>
