<section class="delivery">
  <div class="container">
    <div class="delivery__top">
      <div class="delivery__heading">
        <h1 class="delivery__title">Доставка</h1>
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="index.html">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link breadcrumbs__link--active">Доставка</a>
            </li>
          </ul>
        </div>
      </div>
      <p class="delivery__text">
        РОЛЬСТАВНИ.ОРГ доверяет представлять себя и свою продукцию в Москве
        только официальным представителям. Это сертифицированные компании с
        положительными отзывами и богатым портфолио. Они предлагают удобные
        способы оплаты и доставляют заказы в строго регламентированные сроки.
      </p>
    </div>
    <ul class="delivery__list">
      <li class="delivery-item">
        <div class="delivery-item__top">
          <div class="delivery-item__img">
            <picture>
              <source srcset="img/delivery/1.webp" type="image/webp" />
              <img src="img/delivery/1.jpg" alt="img" />
            </picture>
          </div>
          <span class="delivery-item__title">Доставка до клиента</span>
        </div>
        <p class="delivery-item__text">
          Доставка готового изделия сотрудниками и транспортом компании
        </p>
      </li>
      <li class="delivery-item">
        <div class="delivery-item__top">
          <div class="delivery-item__img">
            <picture>
              <source srcset="img/delivery/2.webp" type="image/webp" />
              <img src="img/delivery/2.jpg" alt="img" />
            </picture>
          </div>
          <span class="delivery-item__title">Самовывоз</span>
        </div>
        <p class="delivery-item__text">
          Самостоятельный забор готового изделия из пункта выдачи (склада) в г.
          Москва и г. Иваново
        </p>
      </li>
      <li class="delivery-item">
        <div class="delivery-item__top">
          <div class="delivery-item__img">
            <picture>
              <source srcset="img/delivery/3.webp" type="image/webp" />
              <img src="img/delivery/3.jpg" alt="img" />
            </picture>
          </div>
          <span class="delivery-item__title">Транспортной компанией</span>
        </div>
        <p class="delivery-item__text">
          Доставка до терминала транспортной компании "ПЭК",
          "ЖелДорЭкспецидиции", "СДЭК", "Деловые линии", "Почта России"
        </p>
      </li>
    </ul>
  </div>
</section>
