<section class="discount">
  <div class="discount__slider swiper">
    <ul class="discount__slides swiper-wrapper">
      <li class="discount__slide swiper-slide">
        <div class="discount__wrapper">
          <div
            class="discount__img"
            style="background-image: url(img/discount-bg.png)"
          ></div>
          <div class="discount__left">
            <h2 class="discount__title">Скидка 10%</h2>
            <p class="discount__text">
              При заказе въездных ворот, забора или калитки с заполнением
              сэндвич-панелями.
            </p>
            <a class="discount__btn btn" href="#">Узнать больше</a>
          </div>
        </div>
      </li>
      <li class="discount__slide swiper-slide">
        <div class="discount__wrapper">
          <div
            class="discount__img"
            style="background-image: url(img/discount-bg.png)"
          ></div>
          <div class="discount__left">
            <h2 class="discount__title">Скидка 10%</h2>
            <p class="discount__text">
              При заказе въездных ворот, забора или калитки с заполнением
              сэндвич-панелями.
            </p>
            <a class="discount__btn btn" href="#">Узнать больше</a>
          </div>
        </div>
      </li>
      <li class="discount__slide swiper-slide">
        <div class="discount__wrapper">
          <div
            class="discount__img"
            style="background-image: url(img/discount-bg.png)"
          ></div>
          <div class="discount__left">
            <h2 class="discount__title">Скидка 10%</h2>
            <p class="discount__text">
              При заказе въездных ворот, забора или калитки с заполнением
              сэндвич-панелями.
            </p>
            <a class="discount__btn btn" href="#">Узнать больше</a>
          </div>
        </div>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
</section>
