<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <div class="footer__col">
          <div class="footer__logo">РОЛСТАВНИ <span>ОРГ</span></div>

          <ul class="socials">
            <li class="socials__item">
              <a class="socials__link socials__link--vk" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#vk"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--telegram" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--whatsapp" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#whatsapp"></use>
                </svg>
              </a>
            </li>
          </ul>

          <div class="footer__copy">
            <span>Copyright © “Rolstavni” 2022</span>
            <a href="#">Политика конфиденциальности</a>
          </div>
        </div>
        <div class="footer__col">
          <span class="footer__name">Каталог</span>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Роллетные системы Алютех</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Автоматика для ворот</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Перегрузочная техника</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Шлакбаумы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Перегрузочная техника</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Акции</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__name">КОМПАНИЯ</span>
          <ul class="footer__list footer__list--pr">
            <li class="footer__item">
              <a class="footer__link" href="#">О компании</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Поддержка</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Отзывы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Покупателю</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Контакты</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__right">
        <div class="footer__col">
          <span class="footer__name">КОНТАКТЫ</span>

          <div class="footer__col-inner">
            <div class="footer-contacts">
              <div
                class="footer-contacts__item footer-contacts__item--location"
              >
                <p>Офис: Москва, ул. Название улицы 10, корп. 11</p>
                <p>Производство: Москва, ул. Назваие улицы 12, корп. 13</p>
              </div>
              <div class="footer-contacts__item footer-contacts__item--phones">
                <a class="footer-contacts__link" href="+7495123456798">
                  + 7 (495) 123 45 67 98
                </a>
                <a class="footer-contacts__link" href="+7495123456798">
                  + 7 (495) 123 45 67 98
                </a>
              </div>
              <div
                class="footer-contacts__item footer-contacts__item--schedule"
              >
                <p>Прием звонков: с 9:00 до 21:00 (МСК)</p>
              </div>
              <div class="footer-contacts__item footer-contacts__item--mail">
                <a class="footer-contacts__link" href="info-rolstavmi@mail.ru">
                  info-rolstavmi@mail.ru
                </a>
              </div>
            </div>

            <div class="footer__btns">
              <button class="footer__btn btn btn--green" type="button">
                Заказать звонок
              </button>
              <a class="footer__btn btn btn--blue-light" href="#">
                Написать на почту
              </a>
              <button class="footer__btn btn btn--burgundy" type="button">
                Вызвать замерщика
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-bottom__text">
        <p>
          Все права защищены. Вся предоставленая на сайте информация, касающаяся
          технических характеристик, наличия и стоимость товаров, носит
          информационный характер и не является публичной офертой. Для более
          подробной информацнеобходимо обратиться в офис компании или позвонить
          по телефону +7 (495) 104 70 44
        </p>
      </div>
      <div class="footer-bottom__rating yandex-rating">
        <span class="yandex-rating__text"
          >Рейтинг компании <br />
          в Yandex</span
        >
        <ul class="yandex-rating__stars">
          <li class="yandex-rating__star">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.825 22L7.45 14.975L2 10.25L9.2 9.625L12 3L14.8 9.625L22 10.25L16.55 14.975L18.175 22L12 18.275L5.825 22Z"
                fill="currentColor"
              />
            </svg>
          </li>
          <li class="yandex-rating__star">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.825 22L7.45 14.975L2 10.25L9.2 9.625L12 3L14.8 9.625L22 10.25L16.55 14.975L18.175 22L12 18.275L5.825 22Z"
                fill="currentColor"
              />
            </svg>
          </li>
          <li class="yandex-rating__star">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.825 22L7.45 14.975L2 10.25L9.2 9.625L12 3L14.8 9.625L22 10.25L16.55 14.975L18.175 22L12 18.275L5.825 22Z"
                fill="currentColor"
              />
            </svg>
          </li>
          <li class="yandex-rating__star">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.825 22L7.45 14.975L2 10.25L9.2 9.625L12 3L14.8 9.625L22 10.25L16.55 14.975L18.175 22L12 18.275L5.825 22Z"
                fill="currentColor"
              />
            </svg>
          </li>
          <li class="yandex-rating__star yandex-rating__star--disabled">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.825 22L7.45 14.975L2 10.25L9.2 9.625L12 3L14.8 9.625L22 10.25L16.55 14.975L18.175 22L12 18.275L5.825 22Z"
                fill="currentColor"
              />
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
