<section class="gates">
  <div class="gates-nav">
    <div class="container">
      <div class="gates-nav__wrapper">
        <ul class="gates-nav__list">
          <li class="gates-nav__item">
            <a class="gates-nav__link" href="#garage-gates">Гаражные ворота </a>
          </li>
          <li class="gates-nav__item">
            <a class="gates-nav__link" href="#industrial-gates"
              >Промышленные ворота</a
            >
          </li>
          <li class="gates-nav__item">
            <a class="gates-nav__link" href="#panoramic-gates">
              Панорамные ворота
            </a>
          </li>
          <li class="gates-nav__item">
            <a class="gates-nav__link" href="#entry-gates"> Въездные ворота </a>
          </li>
        </ul>

        <button class="gates-nav__btn btn" type="button">
          <svg>
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>

          Связаться
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="garage-doors">
      <div class="garage-doors__top">
        <h2 class="garage-doors__title">
          Секционные <br />
          гаражные ворота
        </h2>
        <p class="garage-doors__text">
          Сравните ворота бюджетной серии Trend и премиальной серии Prestige,
          чтобы выбрать подходящее решение.
        </p>
      </div>
      <ul class="garage-doors__list">
        <li class="garage-doors__item">
          <article class="garage-doors-card">
            <div class="garage-doors-card__top">
              <picture>
                <source srcset="img/garage-doors/1.webp" type="image/webp" />
                <img src="img/garage-doors/1.jpg" alt="img" />
              </picture>
            </div>
            <div class="garage-doors-card__body">
              <h3 class="garage-doors-card__title">Prestige</h3>
              <p class="garage-doors-card__text">
                Повышенная энергоэффективность, уникальные конструкторские
                решения, неограниченные варианты оформления.
              </p>
              <span class="garage-doors-card__price">от 61 850 ₽</span>
              <div class="garage-doors-card__spec">
                <span class="garage-doors-card__name">Характеристики:</span>

                <ul class="garage-doors-card__list">
                  <li class="garage-doors-card__item">
                    <span>Толщина сэндвич-панели 45 мм</span>
                    <p>
                      Представьте кирпичную стену в 60 см — такую же
                      теплоизоляцию имеют ворота! Разница в цене с более простой
                      серией ворот окупится за 2–3 года.
                    </p>
                  </li>
                  <li class="garage-doors-card__item">
                    <span>Комплектующие из нержавеющей стали</span>
                    <p>
                      Не покроются ржавчиной даже при установке ворот в
                      прибрежной зоне.
                    </p>
                  </li>
                  <li class="garage-doors-card__item">
                    <span>Двухлепестковые EPDM-уплотнители</span>
                    <p>
                      Обеспечивают впечатляющие показатели герметичности, шумо-
                      и теплоизоляции ворот.
                    </p>
                  </li>
                  <li class="garage-doors-card__item">
                    <span>Кронштейны с двойными роликами</span>
                    <p>
                      Обеспечивают плавное движение полотна без шума и вибраций.
                    </p>
                  </li>
                  <li class="garage-doors-card__item">
                    <span
                      >Эксклюзивные цвета и принты, включенные в стоимость
                      ворот</span
                    >
                    <p>
                      Для оформления ворот предлагается широкая палитра
                      стандартных цветов по каталогам RAL и DB, а также цифровая
                      печать на полотне.
                    </p>
                  </li>
                </ul>
              </div>

              <button class="garage-doors-card__btn btn btn--dark" type="button">
                Перейти в серию Prestige
              </button>
            </div>
          </article>
        </li>
        <li class="garage-doors__item">
          <article class="garage-doors-card">
            <div class="garage-doors-card__top">
              <picture>
                <source srcset="img/garage-doors/2.webp" type="image/webp" />
                <img src="img/garage-doors/2.jpg" alt="img" />
              </picture>
            </div>
            <div class="garage-doors-card__body">
              <h3 class="garage-doors-card__title">Trend</h3>
              <p class="garage-doors-card__text">
                Оптимальное соотношение цены и качества, энергоэффективность,
                элементы безопасности в стандартном комплекте.
              </p>
              <span class="garage-doors-card__price">от 55 270 ₽</span>
              <div class="garage-doors-card__spec">
                <span class="garage-doors-card__name">Характеристики:</span>

                <ul class="garage-doors-card__list">
                  <li class="garage-doors-card__item">
                    <span>Толщина сэндвич-панели 40 мм</span>
                    <p>
                      Теплоизоляция ворот — как в помещении с кирпичной стеной
                      толщиной 55 см.
                    </p>
                  </li>
                  <li class="garage-doors-card__item">
                    <span>Комплектующие из оцинкованной стали</span>
                    <p>
                      Для объектов с повышенной влажностью, обеспечивают
                      устойчивость к коррозии и прочность конструкции.
                    </p>
                  </li>
                  <li class="garage-doors-card__item">
                    <span>Однолепестковые EPDM-уплотнители</span>
                    <p>Защищают от сквозняков, шума и холодного воздуха.</p>
                  </li>
                  <li class="garage-doors-card__item">
                    <span>Кронштейны с одинарным роликом</span>
                    <p>
                      Отвечают за плавное и тихое движение полотна по
                      направляющим.
                    </p>
                  </li>
                  <li class="garage-doors-card__item">
                    <span
                      >Стандартная палитра, включенная в стоимость ворот</span
                    >
                    <p>
                      Ворота можно окрасить в один из 10 стандартных цветов по
                      каталогу RAL и 3 цвета «под дерево».
                    </p>
                  </li>
                </ul>
              </div>

              <button
                class="garage-doors-card__btn btn btn--dark"
                type="button"
              >
                Перейти в серию Prestige
              </button>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
