<section class="gates">
  <div class="gates-nav">
    <div class="container">
      <div class="gates-nav__wrapper">
        <ul class="gates-nav__list">
          <li class="gates-nav__item">
            <a class="gates-nav__link" href="#garage-gates">Гаражные ворота </a>
          </li>
          <li class="gates-nav__item">
            <a class="gates-nav__link" href="#industrial-gates"
              >Промышленные ворота</a
            >
          </li>
          <li class="gates-nav__item">
            <a class="gates-nav__link" href="#panoramic-gates">
              Панорамные ворота
            </a>
          </li>
          <li class="gates-nav__item">
            <a class="gates-nav__link" href="#entry-gates"> Въездные ворота </a>
          </li>
        </ul>

        <button class="gates-nav__btn btn" type="button">
          <svg>
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>

          Связаться
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="gates__list">
      <aricle class="automatic-gates-card anchor-card" id="garage-gates">
        <div class="automatic-gates-card__left">
          <h3 class="automatic-gates-card__title">Гаражные ворота</h3>
          <p class="automatic-gates-card__text">
            Стильные и надежные автоматические ворота, которые защитят гараж от
            несанкционированного проникновения, уличного шума и холода.
          </p>
          <div class="automatic-gates-card__links">
            <a class="automatic-gates-card__link" href="#">Роллетные ворота </a>
            <a class="automatic-gates-card__link" href="#">Секционные ворота</a>
          </div>
          <a class="automatic-gates-card__btn" href="#">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11 8H9V4H11V8ZM11 10H9V12H11V10ZM20 2V14C20 14.5304 19.7893 15.0391 19.4142 15.4142C19.0391 15.7893 18.5304 16 18 16H4L0 20V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H18C18.5304 0 19.0391 0.210714 19.4142 0.585786C19.7893 0.960859 20 1.46957 20 2ZM18 2H2V15.2L3.2 14H18V2Z"
                fill="currentColor"
              />
            </svg>
            Подробнее
          </a>
        </div>
        <div class="automatic-gates-card__slider swiper">
          <ul class="automatic-gates-card__slides swiper-wrapper">
            <li class="automatic-gates-card__slide swiper-slide">
              <picture>
                <source srcset="img/gates-slider/1.webp" type="image/webp" />
                <img src="img/gates-slider/1.jpg" alt="img" />
              </picture>
            </li>
            <li class="automatic-gates-card__slide swiper-slide">
              <picture>
                <source srcset="img/gates-slider/1.webp" type="image/webp" />
                <img src="img/gates-slider/1.jpg" alt="img" />
              </picture>
            </li>
          </ul>

          <div class="automatic-gates-card__arrows">
            <button class="swiper-button-prev" type="button"></button>
            <button class="swiper-button-next" type="button"></button>
          </div>
        </div>
      </aricle>
      <aricle
        class="automatic-gates-card automatic-gates-card--reverse anchor-card"
        id="industrial-gates"
      >
        <div class="automatic-gates-card__left">
          <h3 class="automatic-gates-card__title">Промышленные ворота</h3>
          <p class="automatic-gates-card__text">
            Прочные и долговечные изделия, рассчитанные на интенсивную
            эксплуатацию и установку в различных климатических зонах.
          </p>

          <a class="automatic-gates-card__btn" href="#">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11 8H9V4H11V8ZM11 10H9V12H11V10ZM20 2V14C20 14.5304 19.7893 15.0391 19.4142 15.4142C19.0391 15.7893 18.5304 16 18 16H4L0 20V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H18C18.5304 0 19.0391 0.210714 19.4142 0.585786C19.7893 0.960859 20 1.46957 20 2ZM18 2H2V15.2L3.2 14H18V2Z"
                fill="currentColor"
              />
            </svg>
            Подробнее
          </a>
        </div>
        <div class="automatic-gates-card__slider swiper">
          <ul class="automatic-gates-card__slides swiper-wrapper">
            <li class="automatic-gates-card__slide swiper-slide">
              <picture>
                <source srcset="img/gates-slider/1.webp" type="image/webp" />
                <img src="img/gates-slider/1.jpg" alt="img" />
              </picture>
            </li>
            <li class="automatic-gates-card__slide swiper-slide">
              <picture>
                <source srcset="img/gates-slider/1.webp" type="image/webp" />
                <img src="img/gates-slider/1.jpg" alt="img" />
              </picture>
            </li>
          </ul>

          <div class="automatic-gates-card__arrows">
            <button class="swiper-button-prev" type="button"></button>
            <button class="swiper-button-next" type="button"></button>
          </div>
        </div>
      </aricle>
      <aricle
        class="automatic-gates-card automatic-gates-card--triple anchor-card"
        id="panoramic-gates"
      >
        <div class="automatic-gates-card__left">
          <h3 class="automatic-gates-card__title">Панорамные ворота</h3>
          <p class="automatic-gates-card__text">
            Современные и практичные модели, которые украсят фасад здания и
            обеспечат помещению естественное освещение.
          </p>

          <a class="automatic-gates-card__btn" href="#">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11 8H9V4H11V8ZM11 10H9V12H11V10ZM20 2V14C20 14.5304 19.7893 15.0391 19.4142 15.4142C19.0391 15.7893 18.5304 16 18 16H4L0 20V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H18C18.5304 0 19.0391 0.210714 19.4142 0.585786C19.7893 0.960859 20 1.46957 20 2ZM18 2H2V15.2L3.2 14H18V2Z"
                fill="currentColor"
              />
            </svg>
            Подробнее
          </a>
        </div>
        <div class="automatic-gates-card__slider swiper">
          <ul class="automatic-gates-card__slides swiper-wrapper">
            <li class="automatic-gates-card__slide swiper-slide">
              <picture>
                <source srcset="img/gates-slider/1.webp" type="image/webp" />
                <img src="img/gates-slider/1.jpg" alt="img" />
              </picture>
            </li>
            <li class="automatic-gates-card__slide swiper-slide">
              <picture>
                <source srcset="img/gates-slider/1.webp" type="image/webp" />
                <img src="img/gates-slider/1.jpg" alt="img" />
              </picture>
            </li>
          </ul>

          <div class="automatic-gates-card__arrows">
            <button class="swiper-button-prev" type="button"></button>
            <button class="swiper-button-next" type="button"></button>
          </div>
        </div>
        <div class="automatic-gates-card__right">
          <picture>
            <source srcset="img/defense-car.webp" type="image/webp" />
            <img src="img/defense-car.jpg" alt="img" />
          </picture>
          <p>Защитить ваш автомобиль и дом помогут гаражные ворота.</p>

          <div class="automatic-gates-card__options">
            <span class="automatic-gates-card__number">16</span>
            <span class="automatic-gates-card__perfomance">
              Вариантов <br />
              исполнения
            </span>
          </div>
        </div>
      </aricle>
      <aricle
        class="automatic-gates-card automatic-gates-card--reverse anchor-card"
        id="entry-gates"
      >
        <div class="automatic-gates-card__left">
          <h3 class="automatic-gates-card__title">Въездные ворота</h3>
          <p class="automatic-gates-card__text">
            Функциональные и прочные конструкции, предназначенные для
            обеспечения безопасности частной или промышленной территории.
          </p>

          <div class="automatic-gates-card__links">
            <a class="automatic-gates-card__link" href="#">Откатные ворота </a>
            <a class="automatic-gates-card__link" href="#">Распашные ворота</a>
          </div>

          <a class="automatic-gates-card__btn" href="#">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11 8H9V4H11V8ZM11 10H9V12H11V10ZM20 2V14C20 14.5304 19.7893 15.0391 19.4142 15.4142C19.0391 15.7893 18.5304 16 18 16H4L0 20V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H18C18.5304 0 19.0391 0.210714 19.4142 0.585786C19.7893 0.960859 20 1.46957 20 2ZM18 2H2V15.2L3.2 14H18V2Z"
                fill="currentColor"
              />
            </svg>
            Подробнее
          </a>
        </div>
        <div class="automatic-gates-card__slider swiper">
          <ul class="automatic-gates-card__slides swiper-wrapper">
            <li class="automatic-gates-card__slide swiper-slide">
              <picture>
                <source srcset="img/gates-slider/1.webp" type="image/webp" />
                <img src="img/gates-slider/1.jpg" alt="img" />
              </picture>
            </li>
            <li class="automatic-gates-card__slide swiper-slide">
              <picture>
                <source srcset="img/gates-slider/1.webp" type="image/webp" />
                <img src="img/gates-slider/1.jpg" alt="img" />
              </picture>
            </li>
          </ul>

          <div class="automatic-gates-card__arrows">
            <button class="swiper-button-prev" type="button"></button>
            <button class="swiper-button-next" type="button"></button>
          </div>
        </div>
      </aricle>
    </div>
  </div>
</section>
