<section class="hero">
  <div class="hero__slider swiper">
    <ul class="hero__slides swiper-wrapper">
      <li
        class="hero__slide swiper-slide"
        style="background-image: url('img/hero/1.jpg')"
      >
        <div class="container">
          <div class="hero__inner">
            <h2 class="hero__title">
              Готовые ворота <br />
              со склада со скидкой 5%
            </h2>
            <p class="hero__text">Ворота Trend для вашего гаража за 1-2 дня</p>
            <button class="hero__btn btn btn--dark" type="button">
              Оставить заявку
            </button>
          </div>
        </div>
      </li>
      <li
        class="hero__slide swiper-slide"
        style="background-image: url('img/hero/1.jpg')"
      >
        <div class="container">
          <div class="hero__inner">
            <h2 class="hero__title">
              Готовые ворота <br />
              со склада со скидкой 5%
            </h2>
            <!-- <p class="hero__text">Ворота Trend для вашего гаража за 1-2 дня</p> -->
            <button class="hero__btn btn btn--dark" type="button">
              Оставить заявку
            </button>
          </div>
        </div>
      </li>
      <li
        class="hero__slide swiper-slide"
        style="background-image: url('img/hero/1.jpg')"
      >
        <div class="container">
          <div class="hero__inner">
            <h2 class="hero__title">
              Готовые ворота <br />
              со склада со скидкой 5%
            </h2>
            <p class="hero__text">Ворота Trend для вашего гаража за 1-2 дня</p>
            <button class="hero__btn btn btn--dark" type="button">
              Оставить заявку
            </button>
          </div>
        </div>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
    <button
      class="swiper-button-next"
      type="button"
      aria-label="Следуюший"
    ></button>
    <button
      class="swiper-button-prev"
      type="button"
      aria-label="Предыдущий"
    ></button>
  </div>
</section>
