<section class="instalments">
  <div class="container">
    <div class="instalments__top">
      <div class="delivery__heading">
        <h1 class="delivery__title">Продукция РОЛЬСТАВНИ.ОРГ в рассрочку</h1>
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="index.html">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link breadcrumbs__link--active"
                >Рассрочка</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="instalments__text">
      <p>
        Официальные представители «РОЛЬСТАВНИ.ОРГ» предлагают удобные способы
        оплаты. Весь ассортимент товаров теперь доступен в рассрочку.
      </p>
      <p>
        Больше не придется откладывать покупки на потом, выбирать самый дешевый
        вариант или что-то одно вместо комплексного решения. Закажите все
        необходимое для своего объекта сейчас, а оплатите потом.
      </p>
      <p>
        Вы сможете закончить строительство и ремонт в запланированный срок или
        раньше. Ведь срыв сроков чаще всего происходит из-за нехватки денежных
        средств. Но теперь вы сможете сразу купить роллеты, ворота, автоматику в
        рассрочку. А ежемесячные платежи будут необременительными для семейного
        бюджета.
      </p>
    </div>

    <div class="instalments__text">
      <span class="instalments__name">
        Мы предоставляем рассрочку по карте «Халва» без % на весь ассортимент!
      </span>

      <p>
        Вы не платите проценты, за вас это сделает магазин. Платеж делится на
        равные части каждый месяц.
      </p>
    </div>

    <div class="instalments__bottom">
      <button class="instalments__btn btn" type="button">
        Оформить рассрочку
      </button>
    </div>
  </div>
</section>
