<section class="other-colors">
  <div class="container">
    <h2 class="other-colors__title">Другие цветовые решения</h2>

    <div class="other-colors__slider">
      <div class="slider-thumbs">
        <div class="slider-thumbs__nav">
          <span class="other-colors__heading">Типы сэндвич-панелей</span>
          <div class="slider-thumbs__nav-wrap swiper">
            <ul class="swiper-wrapper">
              <li class="swiper-slide slider-nav__slide">
                <picture>
                  <source srcset="img/panels.webp" type="image/webp" />
                  <img src="img/panels.png" alt="img" />
                </picture>
                <span class="slider-thumbs__text">S-гофр</span>
              </li>
              <li class="swiper-slide slider-nav__slide">
                <picture>
                  <source srcset="img/panels.webp" type="image/webp" />
                  <img src="img/panels.png" alt="img" />
                </picture>
                <span class="slider-thumbs__text">M-гофр</span>
              </li>
              <li class="swiper-slide slider-nav__slide">
                <picture>
                  <source srcset="img/panels.webp" type="image/webp" />
                  <img src="img/panels.png" alt="img" />
                </picture>
                <span class="slider-thumbs__text">L-гофр</span>
              </li>
              <li class="swiper-slide slider-nav__slide">
                <picture>
                  <source srcset="img/panels.webp" type="image/webp" />
                  <img src="img/panels.png" alt="img" />
                </picture>
                <span class="slider-thumbs__text">Микроволна</span>
              </li>
              <li class="swiper-slide slider-nav__slide">
                <picture>
                  <source srcset="img/panels.webp" type="image/webp" />
                  <img src="img/panels.png" alt="img" />
                </picture>
                <span class="slider-thumbs__text">Филенка</span>
              </li>
            </ul>
          </div>
          <div class="palette-tabs">
            <span class="other-colors__heading">Палитра</span>
            <div class="palette-tabs__top">
              <ul class="palette-tabs__list">
                <li class="palette-tabs__item">
                  <button class="palette-tabs__btn" type="button">
                    Стандартная
                  </button>
                </li>
                <li class="palette-tabs__item">
                  <button class="palette-tabs__btn" type="button">
                    Под дерево
                  </button>
                </li>
                <li class="palette-tabs__item">
                  <button class="palette-tabs__btn" type="button">
                    Цифровая печать
                  </button>
                </li>
              </ul>
            </div>
            <div class="palette-tabs__content active">
              <div class="colors">
                <div class="colors__item active"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
              </div>
            </div>
            <div class="palette-tabs__content">
              <div class="colors">
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
              </div>
            </div>
            <div class="palette-tabs__content">
              <div class="colors">
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
                <div class="colors__item"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-thumbs__main swiper" id="slider-main">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <picture>
                <source srcset="img/appearance/1.webp" type="image/webp" />
                <img src="img/appearance/1.jpg" alt="img" />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source srcset="img/appearance/1.webp" type="image/webp" />
                <img src="img/appearance/1.jpg" alt="img" />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source srcset="img/appearance/1.webp" type="image/webp" />
                <img src="img/appearance/1.jpg" alt="img" />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source srcset="img/appearance/1.webp" type="image/webp" />
                <img src="img/appearance/1.jpg" alt="img" />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source srcset="img/appearance/1.webp" type="image/webp" />
                <img src="img/appearance/1.jpg" alt="img" />
              </picture>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
