<section class="panel-options">
  <div class="container">
    <div class="panel-options__top">
      <h2 class="panel-options__title">Варианты сэндвич-панелей</h2>
      <p class="panel-options__text">
        Гаражные ворота производятся из сэндвич-панелей одного из 5 типов.
        Однако цена от выбранного варианта – S-, M-, L-гофр, микроволна или
        филенка может меняться.
      </p>
    </div>

    <ul class="panel-options__list">
      <li class="sandwich-item">
        <picture>
          <source srcset="img/sandwich-panels/1.webp" type="image/webp" />
          <img
            class="sandwich-item__img"
            src="img/sandwich-panels/1.png"
            alt="img"
          />
        </picture>
        <p class="sandwich-item__text">S-гофр</p>
      </li>
      <li class="sandwich-item">
        <picture>
          <source srcset="img/sandwich-panels/2.webp" type="image/webp" />
          <img
            class="sandwich-item__img"
            src="img/sandwich-panels/2.png"
            alt="img"
          />
        </picture>
        <p class="sandwich-item__text">M-гофр</p>
      </li>
      <li class="sandwich-item">
        <picture>
          <source srcset="img/sandwich-panels/3.webp" type="image/webp" />
          <img
            class="sandwich-item__img"
            src="img/sandwich-panels/3.png"
            alt="img"
          />
        </picture>
        <p class="sandwich-item__text">S-гофр</p>
      </li>
      <li class="sandwich-item">
        <picture>
          <source srcset="img/sandwich-panels/4.webp" type="image/webp" />
          <img
            class="sandwich-item__img"
            src="img/sandwich-panels/4.png"
            alt="img"
          />
        </picture>
        <p class="sandwich-item__text">S-гофр</p>
      </li>
      <li class="sandwich-item">
        <picture>
          <source srcset="img/sandwich-panels/5.webp" type="image/webp" />
          <img
            class="sandwich-item__img"
            src="img/sandwich-panels/5.png"
            alt="img"
          />
        </picture>
        <p class="sandwich-item__text">S-гофр</p>
      </li>
    </ul>
  </div>
</section>
