<section class="payment">
  <div class="container">
    <div class="payment__top">
      <div class="payment__heading">
        <h1 class="payment__title">Оплата</h1>

        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="index.html">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link breadcrumbs__link--active">Оплата</a>
            </li>
          </ul>
        </div>
      </div>
      <p class="payment__text">
        Оплатить продукцию и услуги можно следующими способами:
      </p>
    </div>
    <ul class="payment__list">
      <li class="payment-item">
        <div class="payment-item__top">
          <div class="payment-item__img">
            <picture>
              <source srcset="img/payment/1.webp" type="image/webp" />
              <img src="img/payment/1.jpg" alt="img" />
            </picture>
          </div>
          <span class="payment-item__title">Онлайн на сайте</span>
        </div>
        <p class="payment-item__text">
          Оплатить заказ онлайн можно при оформлени заказа на нашем сайте.
        </p>
      </li>
      <li class="payment-item">
        <div class="payment-item__top">
          <div class="payment-item__img">
            <picture>
              <source srcset="img/payment/2.webp" type="image/webp" />
              <img src="img/payment/2.jpg" alt="img" />
            </picture>
          </div>
          <span class="payment-item__title">Наличными в офисе</span>
        </div>
        <p class="payment-item__text">
          Оплатить заказ наличными можно наличными при получении товара.
        </p>
      </li>
      <li class="payment-item">
        <div class="payment-item__top">
          <div class="payment-item__img">
            <picture>
              <source srcset="img/payment/3.webp" type="image/webp" />
              <img src="img/payment/3.jpg" alt="img" />
            </picture>
          </div>
          <span class="payment-item__title">По реквизитам компании.</span>
        </div>
        <div class="qr-code">
          <picture>
            <source srcset="img/qr-code.webp" type="image/webp" />
            <img class="qr-code__img" src="img/qr-code.png" alt="img" />
          </picture>
          <p class="qr-code__text">
            Остканируйте qr код и переходите к оплате.
          </p>
        </div>
      </li>
      <li class="payment-item payment-item--big">
        <div class="payment-item__top">
          <div class="payment-item__img">
            <picture>
              <source srcset="img/payment/2.webp" type="image/webp" />
              <img src="img/payment/2.jpg" alt="img" />
            </picture>
          </div>
          <span class="payment-item__title">Оплата в рассрочку "Халвой"</span>
        </div>
        <p class="payment-item__text">
          Больше не придется откладывать покупки на потом, выбирать самый
          дешевый вариант или что-то одно вместо комплексного решения. Закажите
          все необходимое для своего объекта сейчас, а оплатите потом.
        </p>
      </li>
    </ul>
  </div>
</section>
