<section class="promo" style="background-image: url('img/promo/auto.jpg')">
  <div class="container">
    <div class="promo__wrapper">
      <div class="promo__offer">
        <h1 class="promo__title">Гаражные ворота</h1>
        <p class="promo__text">
          Современный гараж — это хорошо организованное помещение: теплое,
          безопасное и защищенное от незваных гостей. Гаражные ворота позволят
          создать именно такое помещение. А широкий выбор привлекательных по
          дизайну конструкций поможет подобрать идеальный вариант для гаража
          любого типа.
        </p>
        <button class="promo__btn btn" type="button">Оставить заявку</button>
      </div>
      <div class="breadcrumbs breadcrumbs--absolute">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">Ворота</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link breadcrumbs__link--active"
              >Гаражные ворота</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
