<section class="promo" style="background-image: url('img/promo/measurement.jpg')">
  <div class="container">
    <div class="promo__wrapper">
      <div class="promo__offer">
        <h1 class="promo__title">
          Замер секционных <br />
          гаражных ворот на объекте
        </h1>
        <p class="promo__text">
          Профессиональный замерщик приедет в удобное для вас время
        </p>
        <button class="promo__btn btn" type="button">Вызвать замерщика</button>
      </div>
    </div>
  </div>
</section>
