<section class="promo" style="background-image: url('img/promo/garage.jpg')">
  <div class="container">
    <div class="promo__wrapper">
      <div class="promo__offer">
        <h1 class="promo__title">Автоматические ворота</h1>
        <p class="promo__text">
          Ворота надежно защитят ваш дом от несанкционированного проникновения,
          обеспечат комфортный микроклимат в гараже на протяжении круглого года.
          А грамотно подобранное стилевое и цветовое сочетание позволит
          конструкциям стать гармоничным дополнением любого экстерьера.
        </p>
        <button class="promo__btn btn" type="button">Оставить заявку</button>
      </div>
    </div>
  </div>
</section>

<!-- measurement -->