<section class="product">
  <div class="container">
    <div class="product__wrapper">
      <div class="product__slider">
        <div class="slider-thumbs">
          <div class="slider-thumbs__main swiper" id="slider-main">
            <ul class="swiper-wrapper">
              <li
                class="swiper-slide"
                data-fancybox="product"
                data-src="img/product-slider/big.jpg"
              >
                <picture>
                  <source
                    srcset="img/product-slider/big.webp"
                    type="image/webp"
                  />
                  <img src="img/product-slider/big.jpg" alt="img" />
                </picture>
              </li>
              <li
                class="swiper-slide"
                data-fancybox="product"
                data-src="img/product-slider/big.jpg"
              >
                <picture>
                  <source
                    srcset="img/product-slider/big.webp"
                    type="image/webp"
                  />
                  <img src="img/product-slider/big.jpg" alt="img" />
                </picture>
              </li>
            </ul>
          </div>

          <div class="slider-thumbs__nav">
            <div class="slider-thumbs__nav-wrap swiper">
              <ul class="swiper-wrapper">
                <li class="swiper-slide slider-nav__slide">
                  <picture>
                    <source
                      srcset="img/product-slider/small.webp"
                      type="image/webp"
                    />
                    <img src="img/product-slider/small.jpg" alt="img" />
                  </picture>
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <picture>
                    <source
                      srcset="img/product-slider/small.webp"
                      type="image/webp"
                    />
                    <img src="img/product-slider/small.jpg" alt="img" />
                  </picture>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="product__right">
        <h1 class="product__title">
          Секционные ворота ALUTECH Prestige с электроприводом 2750×2500 мм
        </h1>

        <div class="product__details">
          <div class="product__tabs product-tabs">
            <div class="product-tabs__top">
              <ul class="product-tabs__list">
                <li class="product-tabs__item">
                  <button class="product-tabs__btn" type="button">
                    Характеристики
                  </button>
                </li>
                <li class="product-tabs__item">
                  <button class="product-tabs__btn" type="button">
                    Комплект поставки
                  </button>
                </li>
              </ul>
            </div>
            <div class="product-tabs__content">
              <div class="product-tabs__rows">
                <div class="product-tabs__row">
                  <div>Серия:</div>
                  <div>Prestige</div>
                </div>
                <div class="product-tabs__row">
                  <div>Размеры:</div>
                  <div>2750×2500 мм</div>
                </div>
                <div class="product-tabs__row">
                  <div>Тип панели:</div>
                  <div>L-гофр</div>
                </div>
                <div class="product-tabs__row">
                  <div>Цвет:</div>
                  <div>ADS703 (Антрацит)</div>
                </div>
                <div class="product-tabs__row">
                  <div>Управление:</div>
                  <div>Автоматическое, LG-800</div>
                </div>
                <div class="product-tabs__row">
                  <div>Тип пружин:</div>
                  <div>Пружины растяжения</div>
                </div>
              </div>
            </div>
            <div class="product-tabs__content">
              <div class="product-tabs__rows">
                <div class="product-tabs__row">
                  <div>Серия:</div>
                  <div>Prestige</div>
                </div>
                <div class="product-tabs__row">
                  <div>Размеры:</div>
                  <div>2750×2500 мм</div>
                </div>
                <div class="product-tabs__row">
                  <div>Тип панели:</div>
                  <div>L-гофр</div>
                </div>
                <div class="product-tabs__row">
                  <div>Цвет:</div>
                  <div>ADS703 (Антрацит)</div>
                </div>
                <div class="product-tabs__row">
                  <div>Управление:</div>
                  <div>Автоматическое, LG-800</div>
                </div>
                <div class="product-tabs__row">
                  <div>Тип пружин:</div>
                  <div>Пружины растяжения</div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-showroom">
            <a class="product-showroom__inner" href="#">
              <span class="product-showroom__show">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
              </span>
              <span class="product-showroom__link" href="#">
                Посмотреть образец <br />
                в шоу-руме
              </span>
            </a>
          </div>
        </div>
        <div class="product__bottom">
          <div class="product__price">
            <span class="product__price-number">115 930 ₽</span>

            <span class="product__price-text">
              Цена указана без учета монтажа
            </span>
          </div>
          <div class="product__guarantee">
            <picture>
              <source srcset="img/guarantee.webp" type="image/webp" />
              <img src="img/guarantee.png" alt="img" />
            </picture>
            Гарантия 2 года на гаражные ворота
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
