<section class="showroom">
  <div class="container">
    <h2 class="showroom__title">Фирменный шоу-рум</h2>

    <div class="showroom__wrapper">
      <picture>
        <source srcset="img/showroom-img.webp" type="image/webp" />
        <img class="showroom__img" src="img/showroom-img.jpg" alt="" />
      </picture>

      <div class="showroom__right">
        <div>
          <span class="showroom__name">РОЛЬСТАВНИ.ОРГ</span>
          <div class="showroom__map map">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa8682804cd677d3f6e06b10f9e45b818a5a4c10a33078bf563523a2a6a444adc&amp;source=constructor"
              width="500"
              height="400"
            ></iframe>
          </div>
        </div>
        <div class="showroom__sale showroom-sale">
          <span class="showroom-sale__badge">Акция</span>
          <div class="showroom-sale__text">
            <p>При оплате онтлайн — скидка 10%</p>

            <a class="showroom-sale__link" href="#">Подробнее</a>
          </div>
        </div>
        <div class="showroom__contacts">
          <address class="showroom__address">
            г. Москва, ул. Зорге, д. 19, 3 этаж
          </address>
          <a class="showroom__tel" href="tel:+74951047044">
            +7 (495) 104-70-44
          </a>
          <div class="showroom__btns">
            <button class="showroom__btn btn btn--green" type="button">
              Заказать звонок
            </button>
            <button class="showroom__btn btn btn--blue-light" type="button">
              Оставить заявку
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
