<section class="stock-slider">
  <div class="container">
    <h2 class="stock-slider__title">Другие акции</h2>

    <div class="stock-slider__slider swiper">
      <ul class="stock-slider__slide swiper-wrapper">
        <li class="stock-slider__slide swiper-slide">
          <article class="stock-card">
            <div class="stock-card__top">
              <picture>
                <source srcset="img/stock/1.webp" type="image/webp" />
                <img src="img/stock/1.jpg" alt="img" />
              </picture>
            </div>
            <div class="stock-card__body">
              <div class="stock-card__tags">
                <span class="stock-card__tag">Акция </span>
                <span class="stock-card__tag">Въездные ворота</span>
              </div>
              <h3 class="stock-card__title">
                <a href="#"
                  >Снижение цен на ворота, калитки и заборные секции</a
                >
              </h3>
            </div>
          </article>
        </li>
        <li class="stock-slider__slide swiper-slide">
          <article class="stock-card">
            <div class="stock-card__top">
              <picture>
                <source srcset="img/stock/2.webp" type="image/webp" />
                <img src="img/stock/2.jpg" alt="img" />
              </picture>
            </div>
            <div class="stock-card__body">
              <div class="stock-card__tags">
                <span class="stock-card__tag">Акция </span>
                <span class="stock-card__tag">Въездные ворота</span>
              </div>
              <h3 class="stock-card__title">
                <a href="#"
                  >Снижение цен на ворота, калитки и заборные секции</a
                >
              </h3>
            </div>
          </article>
        </li>
        <li class="stock-slider__slide swiper-slide">
          <article class="stock-card">
            <div class="stock-card__top">
              <picture>
                <source srcset="img/stock/3.webp" type="image/webp" />
                <img src="img/stock/3.jpg" alt="img" />
              </picture>
            </div>
            <div class="stock-card__body">
              <div class="stock-card__tags">
                <span class="stock-card__tag">Акция </span>
                <span class="stock-card__tag">Въездные ворота</span>
              </div>
              <h3 class="stock-card__title">
                <a href="#"
                  >Снижение цен на ворота, калитки и заборные секции</a
                >
              </h3>
            </div>
          </article>
        </li>
        <li class="stock-slider__slide swiper-slide">
          <article class="stock-card">
            <div class="stock-card__top">
              <picture>
                <source srcset="img/stock/4.webp" type="image/webp" />
                <img src="img/stock/4.jpg" alt="img" />
              </picture>
            </div>
            <div class="stock-card__body">
              <div class="stock-card__tags">
                <span class="stock-card__tag">Акция </span>
                <span class="stock-card__tag">Въездные ворота</span>
              </div>
              <h3 class="stock-card__title">
                <a href="#"
                  >Снижение цен на ворота, калитки и заборные секции</a
                >
              </h3>
            </div>
          </article>
        </li>
      </ul>

      <button
        class="swiper-button-prev"
        aria-label="Предыдущий"
        type="button"
      ></button>
      <button
        class="swiper-button-next"
        aria-label="Следующий"
        type="button"
      ></button>
    </div>
  </div>
</section>
