<section class="stock-descr">
  <div class="container">
    <div class="stock-descr__top">
      <div class="stock-descr__heading">
        <h1 class="stock-descr__title">
          Снижение цен на ворота, калитки и заборные секции
        </h1>
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="index.html">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="index.html">Акции</a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link breadcrumbs__link--active"
                >Снижение цен на ворота, калитки и заборные секции</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="stock-descr__wrapper">
      <picture>
        <source srcset="img/stock-descr.webp" type="image/webp" />
        <img class="stock-descr__img" src="img/stock-descr.jpg" alt="img" />
      </picture>

      <div class="stock-descr__text">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>

      <div class="stock-descr__bottom">
        <button class="stock-descr__btn btn" type="button">
          Смотреть продукцию
        </button>
      </div>
    </div>
  </div>
</section>
