<section class="stock">
  <div class="container">
    <div class="stock__top">
      <div class="stock__heading">
        <h1 class="stock__title">Акции</h1>
      </div>
      <p class="stock__text">Все действующие акции нашей компании.</p>
    </div>
    <ul class="stock__list">
      <li class="stock__item">
        <article class="stock-card">
          <div class="stock-card__top">
            <picture>
              <source srcset="img/stock/1.webp" type="image/webp" />
              <img src="img/stock/1.jpg" alt="img" />
            </picture>
          </div>
          <div class="stock-card__body">
            <div class="stock-card__tags">
              <span class="stock-card__tag">Акция </span>
              <span class="stock-card__tag">Въездные ворота</span>
            </div>
            <h3 class="stock-card__title">
              <a href="#">Снижение цен на ворота, калитки и заборные секции</a>
            </h3>
          </div>
        </article>
      </li>
      <li class="stock__item">
        <article class="stock-card">
          <div class="stock-card__top">
            <picture>
              <source srcset="img/stock/2.webp" type="image/webp" />
              <img src="img/stock/2.jpg" alt="img" />
            </picture>
          </div>
          <div class="stock-card__body">
            <div class="stock-card__tags">
              <span class="stock-card__tag">Акция </span>
              <span class="stock-card__tag">Въездные ворота</span>
            </div>
            <h3 class="stock-card__title">
              <a href="#">Снижение цен на ворота, калитки и заборные секции</a>
            </h3>
          </div>
        </article>
      </li>
      <li class="stock__item">
        <article class="stock-card">
          <div class="stock-card__top">
            <picture>
              <source srcset="img/stock/3.webp" type="image/webp" />
              <img src="img/stock/3.jpg" alt="img" />
            </picture>
          </div>
          <div class="stock-card__body">
            <div class="stock-card__tags">
              <span class="stock-card__tag">Акция </span>
              <span class="stock-card__tag">Въездные ворота</span>
            </div>
            <h3 class="stock-card__title">
              <a href="#">Снижение цен на ворота, калитки и заборные секции</a>
            </h3>
          </div>
        </article>
      </li>
      <li class="stock__item">
        <article class="stock-card">
          <div class="stock-card__top">
            <picture>
              <source srcset="img/stock/4.webp" type="image/webp" />
              <img src="img/stock/4.jpg" alt="img" />
            </picture>
          </div>
          <div class="stock-card__body">
            <div class="stock-card__tags">
              <span class="stock-card__tag">Акция </span>
              <span class="stock-card__tag">Въездные ворота</span>
            </div>
            <h3 class="stock-card__title">
              <a href="#">Снижение цен на ворота, калитки и заборные секции</a>
            </h3>
          </div>
        </article>
      </li>
      <li class="stock__item">
        <article class="stock-card">
          <div class="stock-card__top">
            <picture>
              <source srcset="img/stock/5.webp" type="image/webp" />
              <img src="img/stock/5.jpg" alt="img" />
            </picture>
          </div>
          <div class="stock-card__body">
            <div class="stock-card__tags">
              <span class="stock-card__tag">Акция </span>
              <span class="stock-card__tag">Въездные ворота</span>
            </div>
            <h3 class="stock-card__title">
              <a href="#">Снижение цен на ворота, калитки и заборные секции</a>
            </h3>
          </div>
        </article>
      </li>
      <li class="stock__item">
        <article class="stock-card">
          <div class="stock-card__top">
            <picture>
              <source srcset="img/stock/6.webp" type="image/webp" />
              <img src="img/stock/6.jpg" alt="img" />
            </picture>
          </div>
          <div class="stock-card__body">
            <div class="stock-card__tags">
              <span class="stock-card__tag">Акция </span>
              <span class="stock-card__tag">Въездные ворота</span>
            </div>
            <h3 class="stock-card__title">
              <a href="#">Снижение цен на ворота, калитки и заборные секции</a>
            </h3>
          </div>
        </article>
      </li>
    </ul>
    <div class="stock__pagination pagination">
      <ul class="pagination__list">
        <li class="pagination__item">
          <button class="pagination__btn active" type="button">1</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">2</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">3</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">4</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">5</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">6</button>
        </li>
      </ul>
    </div>
  </div>
</section>
