<section class="tags">
  <h2 class="visually-hidden">Теги и тд</h2>
  <div class="container">
    <div class="tags__wrapper">
      <ul class="tags__list">
        <li class="tags__tag">
          <a class="tags__link" href="#">Главная</a>
        </li>
        <li class="tags__tag">
          <a class="tags__link" href="#">О компании</a>
        </li>
        <li class="tags__tag">
          <a class="tags__link" href="#">Доставка и оплата</a>
        </li>
        <li class="tags__tag">
          <a class="tags__link" href="#">Отзывы</a>
        </li>
        <li class="tags__tag">
          <a class="tags__link" href="#">Контакты</a>
        </li>
        <li class="tags__tag">
          <a class="tags__link" href="#">Консультация от производителя</a>
        </li>
        <li class="tags__tag">
          <a class="tags__link" href="#">Сервис</a>
        </li>
        <li class="tags__tag">
          <a class="tags__link" href="#">Гарантия</a>
        </li>
        <li class="tags__tag">
          <a class="tags__link" href="#">Кредит и рассрочка</a>
        </li>
        <li class="tags__tag">
          <a class="tags__link" href="#">Замер</a>
        </li>
        <li class="tags__tag">
          <a class="tags__link" href="#">Новости и акции</a>
        </li>
        <li class="tags__tag">
          <a class="tags__link" href="#">Публикации</a>
        </li>
        <li class="tags__tag">
          <a class="tags__link" href="#">Фото/Видео</a>
        </li>
        <li class="tags__tag">
          <a class="tags__link" href="#">Документация</a>
        </li>
        <li class="tags__tag">
          <a class="tags__link" href="#">Вопрос-ответ</a>
        </li>
      </ul>

      <ul class="socials">
        <li class="socials__item">
          <a class="socials__link socials__link--vk" href="#">
            <svg>
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link socials__link--telegram" href="#">
            <svg>
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link socials__link--whatsapp" href="#">
            <svg>
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
